.aboutMe {
  background-color: rgb(40, 40, 43);
  color: #c5c6c7;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  h2 {
    padding: 2%;
    font-size: 2.2rem;
  }
  .aboutMeInfo {
    margin: 4%;
    p {
      font-size: 1.5rem;
      margin: 3%;
    }
  }
}
