nav {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  margin-right: 5%;
  position: sticky;
  top: 0;

  a {
    display: flex;
    text-decoration: none;
    font-size: 1.3rem;
    color: #c5c6c7;
    &:hover {
      color: #45a29e;
    }
  }
}
